body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 251, 235, 0.67);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('emojis_bkrng.webp');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 251, 235, 0.77);
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fc7300;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    color: #FFFBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.input, .button {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #333;
}

.input {
    width: 84%;
}

.input:focus {
    outline: none;
}


.button:hover {
    background-color: #251749;
}

.decode {
    background-color: #068FFF;
    color: #FFFBEB;
    box-shadow: 0px 6px 12px rgba(0, 102, 255, 0.3);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
}

.decode:hover {
    background-color: #4E4FEB;
}

.decode:active {
    animation: buttonPress 0.15s ease-out forwards;
}

@keyframes buttonPress {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.error, .warning {
    color: #000333;
    text-align: center;
    margin-top: 10px;
}

.footer {
    background-color: rgba(255, 251, 235, 0.67);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
